/* Desktop Styles */
header {
    width: 100%;
    border-bottom: 1px solid black;
}

.topnav {
    overflow: hidden;
    padding: 10px;
}

.topnav a.default {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.default:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.title {
    float: left;
    font-weight: bolder;
    font-size:larger;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.learn_more {
    border: 1px black;
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    margin-left: 8px;
    text-decoration: none;
    font-size: 17px;
    border-style: solid;
}

.topnav a.sign_up {
    background-color: black;
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin-left: 8px;
    text-decoration: none;
    font-size: 17px;
}

div.top{
    flex: 1;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

h1.shop {
    float: left;
    font-size: 300%;
}

div.description {
    max-width: 100%;
    margin-top: 5%;
    padding: 5px;
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.description_options {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

div.explore_learn {
    overflow: hidden;
}

a#explore {
    background-color: black;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

a#learn_more, a#contact {
    border: 1px black;
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    margin-left: 8px;
    text-decoration: none;
    font-size: 17px;
    border-style: solid;
}

button#view_all {
    border: 1px black;
    float: left;
    align-self: center;
    color: black;
    text-align: center;
    padding: 14px 16px;
    margin-left: 8px;
    text-decoration: none;
    font-size: 17px;
    border-style: solid;
}

div#button-container {
    display: flex;
    justify-content: center; /* Horizontally center the button */
    align-items: center; /* Vertically center the button */
    height: 10vh; /* Adjust the height as needed */
}

div.showcase_description, div.questions {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
}

div.showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    text-align: center;
}

.item img {
    width: 100%;
    max-width: 300px; 
    max-height: 300px;
}

.item h4 {
    margin-top: 10px;
}

.item p {
    margin-top: 5px;
    font-style: italic;
}

img.description_img {
    width: 40%;
    height: auto;
    max-width: 100%;
}

div.details {
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

div.questions {
    display: flex;
    flex-direction: column;
}

div.question {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    padding: 1.5%;
    border: 2px solid black;
    margin-bottom: 1.5%;
    font-size: 150%;
}

footer {
    margin-top: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 150%;
}

div.footer_links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 10%;
}

div.footer_info_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}

div.footer_topic {
    display: flex;
    flex-direction: column;
    padding: 0 2% 0 2%;
}

div.footer_topic_form {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 2%;
}

a.footer_link {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.footer_socials {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.footer_socials a {
    text-decoration: underline;
    color: black;
    padding-left: 20px;
}


/* Tablet Styles */
@media only screen and (max-width: 768px) {
    .topnav a.title,
    .topnav a.default {
        float: none;
        display: block;
        text-align: center;
    }
    
    .topnav a.sign_up,
    .topnav a.learn_more {
        float: none;
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }

    .showcase {
        flex-direction: column; 
        align-items: center;
    }

    .item {
        width: 80%;
        margin-bottom: 20px;
        text-align: center;
    }

    img.description_img {
        width: 40%;
        max-width: 40%;
    }

    a#view_all,
    a#contact {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    a#learn_more {
        display: block;
    }

    div.details {
        font-size: 15px;
    }

    div.description_options {
        font-size: 16px;
    }

    div.question {
        width: 90%;
    }
}

/* Smartphone Styles */
@media only screen and (max-width: 480px) {
    header {
        font-size: 16px;
    }

    .topnav a.title,
    .topnav a.default {
        font-size: 14px;
        padding: 10px;
    }

    .topnav a.sign_up {
        font-size: 14px;
        padding: 10px;
    }

    .topnav a.learn_more {
        font-size: 14px;
        margin-top: 15px;
        padding: 10px;
    }

    h1.shop {
    font-size: 150%;
    }

    .showcase {
        flex-direction: column; 
        align-items: center; 
    }

    .item {
        width: 90%; 
        margin-bottom: 20px;
        text-align: center;
    }

    .item img {
        max-width: 100%;
    }

    a#learn_more,
    a#view_all,
    a#contact {
        font-size: 14px;
        padding: 10px;
    }

    a#explore {
    padding: 10px;
    font-size: 14px;
    }

    div.description_options {
        font-size: 14px;
    }

    div.question {
        width: 95%;
        font-size: 100%;
    }

    footer {
        font-size: 90%;
    }

}
