* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,
body {
    font-family: monospace;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 15px;
}

button {
    cursor: pointer;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.page {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
/* ================================== */
/* navigation */
/* ================================== */

.navigation {
    padding: 30px 0 50px 0;
}
.navigation__inner {
    min-width: 100%;
    position: relative;
    display: flex;
}
.navigation__list {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}
.navigation__list-item {
    background-color: black;
    height: 100%;
    margin: 0 0 0 15px;
    padding: 0 30px;
    display: flex;
}
.navigation__list-item:first-child {
    margin: 0;
}
.navigation__list-link {
    align-self: center;
    font-size: 16px;
    color: #ffffff;
}

.navigation__dropdown {
    position: relative;
    display: inline-block;
    margin-left: 15px;
}
.dropbtn {
    background-color: #464646;
    color: white;
    padding: 16px 100px;
    font-size: 16px;
    border: none;
}
.dropbtn::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid rgb(170, 255, 1);
    position: absolute;
    top: 20px;
    right: 15px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
.navigation__dropdown:hover .dropdown-content {
    display: block;
}
.navigation__dropdown:hover .dropbtn {
    background-color: #6e6e6e;
}

/* ================================== */
/* JAVA */
/* ================================== */

.java {
    margin-bottom: 50px;
}
.java__inner {
    display: flex;
    flex-direction: column;
}
.java__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;
    font-weight: 900;
    margin-bottom: 50px;
}
.java__first-text {
    color: rgb(214, 193, 0);
    margin-bottom: 5px;
}
.java__second-text {
    color: #000;
    font-size: 20px;
}
.java__features {
    display: flex;
    justify-content: space-between;
}
.java__list {
    width: 50%;
}
.java__list-item {
    margin-bottom: 25px;
}
.java__list-item:last-child {
    margin-bottom: 0px;
}
.java__list-heading {
    font-size: 15px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
.java__list-heading::before {
    content: "";
    display: inline-block;
    position: relative;
    right: 22px;
    top: 2px;
    width: 8px;
    height: 8px;
    margin-right: -12px;
    border-radius: 6px;
    background-color: #ff8800;
    border: 2px solid black;
}
.java__list-text {
    font-size: 14px;
}

/* ================================== */
/* videos */
/* ================================== */

.videos {
    background-color: #464646;
    padding: 20px 0;
}
/* .videos__inner {
} */
.videos__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;
    font-weight: 900;
    margin-bottom: 20px;
}
.videos__first-text {
    color: rgb(255, 255, 255);
    font-size: 35px;
    margin-bottom: 10px;
}
.videos__second-text {
    color: rgb(35, 115, 253);
    font-size: 20px;
}
.images {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
}

.videos__image {
    flex: 1 1 33%;
    margin-bottom: 8px;
}
.videos__image img {
    width: 360px;
    height: 170px;
}

/* ================================== */
/* questions */
/* ================================== */

.questions {
    margin-top: 50px;
}
.questions__inner {
    display: flex;
    flex-direction: column;
}
.questions__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;
    font-weight: 900;
    margin-bottom: 20px;
}
.questions__first-text {
    color: rgb(35, 115, 253);
    font-size: 17px;
}
.questions__second-text {
    font-size: 30px;
}
.questions__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}
.questions__list {
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.questions__list-item {
    margin-bottom: 10px;
}
.questions__list-item:last-child {
    margin-bottom: 0px;
}
.questions__listItem-heading {
    color: rgb(255, 166, 0);
    font-family: Montserrat;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.questions__listItem-heading span {
    color: rgb(35, 115, 253);
    font-size: 40px;
    margin-right: 10px;
}
.questions__listItem-text {
    font-weight: 400;
}
.questions__image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.questions__image img {
    width: auto;
    transform: scale(1.5);
}

/* ================================== */
/* slogan */
/* ================================== */

.slogan {
    background-color: rgb(255, 150, 56);
    padding: 30px 0;
}
.slogan__inner {
    font-family: Montserrat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.questions__slogan-text1 {
    flex: 0 1 50%;
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.questions__slogan-text2 {
    font-size: 18px;
}
.questions__slogan-block2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.slogan__inner img {
    width: 50px;
    margin-right: 10px;
}
